.form-container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

form {
  width: 50%;
  margin: auto;
  text-align: center;
}

.learn-more {
  margin-top: 15%;
}

h2 {
  text-align: center;
  font-family: 'Brandon Grotesque', sans-serif;
  color: #ec5d57;
  margin: 0%;
  letter-spacing: 2px;
  font-weight: 600;
}

label {
  text-transform: uppercase;
  font-family: 'Brandon Grotesque', sans-serif;
  padding: 1px;
  font-weight: 500;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border-width: 0.1px;
  border-color: #cbcdcd;
  margin: 10px;
  border-style: solid;
}

select {
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(177, 177, 177);
  margin: 10px;
  border-style: solid;
  background-color: whitesmoke;
  padding: 8px;
}

button {
  text-align: center;
  width: 100px;
  border-radius: 48px;
  background-color: #ec5d57;
  color: white;
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  border-width: 1px;
  padding: 6px;
  letter-spacing: 1px;
  border: none;
  font-weight: 550;
}

#engineers {
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: large;
}

.button {
  text-align: right;
}

.brisk {
  text-align: left;
  margin-left: 17px;
}
