.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header-design {
  text-align: center;
  font-family: 'karla', sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: xxx-large;
}

.text-design {
  line-height: 2rem;
  color: #626262;
}

.column-half {
  width: 50%;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'karla', sans-serif;
  font-size: 17px;
}

.second-text-design {
  line-height: 170%;
  color: #626262;
  font-family: 'karla', sans-serif;
}

.button {
  text-align: center;

}

button {
  font-family: 'karla', sans-serif;
  color: #d24c45;
  border-color: #d24c45;
  background-color: white;
  width: 21%;
  padding: 1%;
  margin: 5%;
  font-size: 17px;
  border-width: 2px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-style: solid;
  font-weight: bold;
}

.column-qurter {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.column-three-qurters {
  flex-direction: column;
  width: 75%;
  display: flex;
}

.seperate {
  margin-right: 15%;
 margin-top: 10%;
}

.seperate2 {
  margin-left: 15%;
  margin-top: 10%;
}
